<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <form class="" action="/" method="POST">
      <p>Your Text:</p>
      <input type="text" name="phrase" value="">
      <input type="submit" id="Submit">
    </form>
  </body>
</html>
